# Ignore node_modules directory
node_modules/

# Ignore downloads
cypress/downloads

# Ignore test reports, videos and screenshots
cypress/reports/
cypress/videos/
cypress/screenshots/

# Ignore mochawesome-report directory
mochawesome-report/

# Ignore the mochawesome JSON report file
mochawesome.json

# Ignore the Cypress configuration file
cypress.env.json

